@import "variables", "mixins";
@import url("https://fonts.googleapis.com/css2?family=Josefin Sans:wght@100;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen Kaku Gothic New:wght@100;300;500;800&display=swap");

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

a {
  display: inline-block;
  color: $font-color;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

body {
  width: 100%;
  background-color: $body-bg;
  color: $font-color;
  line-height: 1;
  p {
    font-family: "Josefin Sans", "Zen Kaku Gothic New", sans-serif;
    @include tab {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
    @include sp {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

:root {
  font-family: "Josefin Sans", "Zen Kaku Gothic New", sans-serif;
  font-weight: 300;
  @include tab {
    line-height: 2.6rem;
  }
  @include sp {
    line-height: 2rem;
  }
}
html {
  font-size: 62.5% !important;
}
